.img-container
{
    margin: 24px;
    box-shadow: #555 1px 2px 8px 1px;
    min-height: 660px;
    width: 900px;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    float: left;
}
#caption{
    
    font-size: 1.5em;
    font-family: "Open Sans",sans-serif;
    margin-left: 25%;
    padding: 10px;
    color: #222;
    width: 900px;
}
.caption-row
{
    margin-left: 20%;
}