<div class="container">
    <div class="row">
        <div class="col-md-12">
            <span id="caption">
                {{image.caption}}
            </span>
    <p style="margin-top: 20px; white-space: pre-line;">      
        <img [ngStyle]="{'background-image':'url('+ image.url+')' }"class="img-container">
        {{image.content}}
        
    </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 caption-row">
            

        </div>
    </div>
</div>